<h1><%= @user.name %></h1>

<div id="searchusers">
  <form action="<%= users_url %>" method="get">
	<label for="keyword">Search for Other Brave Souls by:</label></br>
  <%= collection_select :role, :description, Role.all, :description, :description %>
  <input type="submit" name="submit" value= "BE BRAVE!"> 
	</form>
</div>  

<% if @user.agreements.find(:all, :conditions => {:is_admin => true}).present? %>
	<h2>Admin Projects</h2>
	<ul>
		<% @user_projects.each do |project| %>
		<li><%- if project.admin.name == @user.name  %><%= link_to project.title, project_path(project.id) %><% end %></li>
		<% end %>
	</ul>
<% end %>

<% if @user.agreements.find(:all, :conditions => {:is_admin => false}).present? %>
	<h2>Member Projects</h2>
	<ul>
		<% @user_projects.each do |project| %>
			<% if project.admin.name != current_user.name  %>
			<li><%= link_to project.title, project_path(project.id) %> | 
				<span>(Admin: <%= link_to project.admin.name, project.admin.name %><% end %>)</span>
			</li>
			<% end %>
	</ul>
<% else %>
	<h2>You aren't a member of any projects</h2>
<% end %>
