<a href="/projects/new" class="new_button"><%= image_tag "new_project_button.png" %></a>

<% if @user.agreements.present? %>
	<ul id="projects">
		<% @user_projects.each do |project| %>
		<li>
		    <div>
		      <h2><%= link_to project.title, project_path(project.id) %></h2>
		      <p class="client">Client: Steve Nelsen</p>
	  <% if project.admin == current_user %>
		      <p class="admin"><%= image_tag "star.png" %>(I am admin)</p>
		      <% end %>
    		  <p class="money">$<%= project.project_amount %></p>
	  <div class="project_members">
		<p class="members">Members</p>
		<div class="pending">
		<p class="status">Pending</p>
			<%= image_tag "pic#{rand(1..10)}.png", class: "pic" %>
			<%= image_tag "pic#{rand(1..10)}.png", class: "pic" %>
		</div><!-- .pending -->
		<div class="active">
			<p class="status">Active</p>
			<%= image_tag "pic#{rand(1..10)}.png", class: "pic" %>
			<%= image_tag "pic#{rand(1..10)}.png", class: "pic" %>
		</div><!-- active -->
	  </div>
    		</div>
		</li>
		<% end %>
	</ul>
<% end %>