<div id="content_project">
  <h1><%= @project.title.capitalize %> </h1>
  <p>This should be content about the client's agreement to the project</p>
    <h2>Total Contract Value: $<%= @project.project_amount %></h2>
  <% if @user.is_client?(@project) %>
  	<a href="#" class="pay_now">Pay Now</a>
  <% else %>
      <ul id="agreements">
        <% @project_agreements.each do |agreement| %>
          <li>
            <div>
              <%= image_tag "pic#{rand(1..10)}.png", class: "avatar" %>
              <%= link_to agreement.title, agreement_path(agreement) %><br />
              <%= agreement.user.name %><br />
              <%= agreement.user.role %><br />
              $<%= agreement.user_amount %><br />
              <% if agreement.is_active? %>
              <p>Approved</p>
              <% else %>
              <p>Pending Approval, last updated by: ??</p>
              <%= link_to "Edit Agreement", edit_agreement_path(agreement) %>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
  <%= render '/agreements/form' %>
  <% end %>
</div><!-- #content -->