<h1><%= @project.title.capitalize %></h1>

<h3>Users in this project</h3>
<h4>Total Cost: $<%= @project.project_amount %>
<ul>
  <% @project.agreements.each do |agreement|  %>
<<<<<<< HEAD
  <li><%= link_to agreement.user.name.capitalize, agreement_path(agreement.id) %> <% if agreement.is_admin == true %>(Admin)DAVE MAKE THIS WORK $$$$<% end %> : $<%= agreement.user_amount %></li>
  <% end %>
</ul>


<h2>Send Agreement to User</h2>
<%= render '/agreements/form' %>
=======
  <li><%= link_to agreement.user.name.capitalize, agreement_path(agreement.id) %> <% if agreement.is_admin == true %>(Admin)<% end %></li>
  <% end %>
</ul>


<h2>Send Agreement to User</h2>
<%= render '/agreements/form' %>
<<<<<<< HEAD
>>>>>>> 8dd7d7e544d85cf5214f12b21c97f2a6fae2f100
=======
>>>>>>> 85dc79753c511157d6b9730936c3cd904d6ac5da
