<h1><%= @project.title.capitalize %></h1>
<% if !@user_inactive_agreement.nil? %>
	<h3>Pending Agreements</h3>
	<%= link_to @user_inactive_agreement.title, agreement_path(@user_inactive_agreement.id) %>
<% end %>
<h3>Users in this project</h3>
<h4>Total Cost: $<%= @project.project_amount %>
<ul>
  <% @project.agreements.each do |agreement| %>

  <li><%= link_to agreement.user.name.capitalize, agreement_path(agreement.id) %> <% if agreement.is_admin == true %>(Admin)<% end %></li>

  <% end %>
</ul>


<% if @user == @project.admin %>
Pending Agreements
<ul>
<% @project_agreements.each do |agreement| %>
	<% if agreement.is_active? == false  %>
	<li><%= link_to agreement.title, agreement_path(agreement.id) %></li>
	<% end %>
<% end %>
</ul>

Active
<ul>
<% @project_agreements.each do |agreement| %>
	<% if agreement.is_active? == true && agreement.is_admin == false %>
	<li><%= link_to agreement.title, agreement_path(agreement.id) %></li>
  <p> Rank Member<li> agreement.user.name.capitalize</li>'s Performance: </p>
	<% end %>
<% end %>
</ul>
<% end %>
<% if current_user == @project.admin %>
<h2>Send Agreement to User</h2>
<%= render '/agreements/form' %>
<% end %>

