<%= form_for @agreement do |f| %>
  <h1><%= @agreement.title %></h1>
  <p>Agreement with <%= @agreement.project.admin.name %> for $<%= @agreement.user_amount %></p>
  
  <h3>Agreement Details</h3>
  <p><%= @agreement.content %></p>
  
  <% if @project.admin == current_user %>
	  <% if @agreement.is_active_admin == false %>
	    Approve agreement?
	    <%= f.hidden_field :is_active_admin, value: true %>
	    <%= f.submit "Approve" %>
	  <% end %>
  <% else %>
     <% if @agreement.is_active_user == false %>
  	    Approve agreement?
	      <%= f.hidden_field :is_active_user, value: true %>
	      <%= f.submit "Approve" %>
	  <% end %>
	<% end %>
	
	
	<% if @agreement.is_active? == false %>
  	<%= link_to "Edit Agreement", edit_agreement_url(@agreement.id) %> <% if @agreement.is_admin == true %>(Admin)<% end %>
  <% end %>
<% end %>
