<<<<<<< HEAD
<h1><%= @agreement.user.name.capitalize %></h1>

=======

<h1><%= @agreement.user.name.capitalize %></h1>

>>>>>>> bf2e987dc806a1d644bec48acdd3a1073caa83d4
  
<h2><%= @agreement.title %></h2>
<h3><%= @agreement.description %></h3>
<h4><%= @agreement.content %></h4>

<ul>
  <li> Edit Agreement >> <%= link_to @agreement.title.capitalize, edit_agreement_url(@agreement.id) %> <% if @agreement.is_admin == true %>(Admin)<% end %></li>
</ul>

<<<<<<< HEAD
<%= link_to "Add new agreement", new_agreement_url(@agreement.project_id) %>

<h3>Send Agreement to User</h3>
=======

>>>>>>> bf2e987dc806a1d644bec48acdd3a1073caa83d4
